<div
  role="radiogroup"
  class="radiogroup"
  aria-labelledby="{{groupId}}-label"
  id={{groupId}}
>
  <div class="radiogroup__label" id="{{groupId}}-label">
    {{#if hasBlock}}
      {{yield}}
    {{else if labelText}}
      {{labelText}}
    {{/if}}
  </div>

  <div class="radiogroup__buttons">
    {{#each options as |option index|}}
      <div
        class="radiogroup__radio"
        role="radio"
        tabindex={{if (eq option.value checkedValue) "0" "-1"}}
        aria-checked={{if (eq option.value checkedValue) "true" "false"}}
        data-value={{option.value}}
        data-value-index={{index}}
      >
        {{option.label}}
      </div>
    {{/each}}
  </div>
</div>
